<table>
  <thead>
      <tr>
        <th>Title</th>
        <th>State</th>
        <th>Project</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
  </thead>

  <tbody>
    <%= render todo_items %>
  </tbody>
</table>